* {
  font-family: "Open sans",sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* color: white; */
  }
  html{
      background-color: black;
  }
  h1{
      /* color: #484848; */
      display: flex;
      align-items: center;
      justify-content: center;
      color: #f5f5f5;
      font-size: 50px;
      font-weight: bold;
      font-family: monospace;
      letter-spacing: 7px;
      cursor: pointer;
      margin-left: 50px;
    }
    h1 span{
      transition: .5s linear;
      margin-left: 10px;
      font-weight: normal;
      text-shadow: 0 0 10px cyan,
                   0 0 20px cyan, 
                   0 0 40px cyan;
    }
    .parent{
      margin-top: 4vmin;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
    }
    .recentschild{
      display: flex;
      flex-direction: row;
    }
    .recentSearches{
      color: white;
      font-size: 4vmin;
      font-weight: 700;
      display: flex;
      align-items: center ;
      flex-direction: column;
      margin: 2vmin;
    }
    .pending{
      color: white;
    }
    .displayer{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .parent input{
    width: 25vmin;
    height: 4vmin;
    border: 1px solid white;
    border-radius: 5px;
    margin: 2vmin;
    align-self: center;
    font-weight: 700;
    font-size: 2vmin;
    color: black;
    background-color: white
    }
    .parent button{
      font-size: 2.5vmin;
      width: 10vmin;
      height: 5vmin;
      border: 2px solid white;
      border-radius: 5px;
      background-color: black;
      color: white;
      text-align: center;
      transition: all 0.2s ease-in-out;
    }
    .recents{
      font-size: 2.5vmin;
      width: 10vmin;
      height: 5vmin;
      border: 2px solid white;
      border-radius: 5px;
      background-color: white;
      color: black;
      text-align: center;
      transition: all 0.2s ease-in-out;
    }
    .parent button:hover{
      cursor: pointer;
      background-color: white;
      color: black;
    }
