*{
    /* color: white; */
    font-family: "Open sans",sans-serif;
}
.parent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.recentsparent{
    display: flex;
    flex-direction: column;
}
.parent-1{
    color: black;
    width: 80%;
    display: flex;
    align-items: left;
    border-radius: 10px;
    box-shadow: 0 0 12px white;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    margin: 2vmin;
}
h2{
    font-style: monospace;
}
h2:hover{
    font: monospace;
    text-shadow: 0 0 10px cyan,
                   0 0 20px cyan, 
                   0 0 40px cyan;
}
h4,h5,h3,div{
    margin: 0.5vmin;
}
a{
    color: black;
    font-weight: 700;
    font-size: 3vmin;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
.parent-2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.time{
    border-top: 1px solid white;
    font-size: 2vmin;
    display: flex;
    flex-direction: row;
}
.tags,.time div{
    font-weight: 700;
}